<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
<h2>Registration Page</h2>
<form action="/register" th:object="${userRequest}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:value="${userRequest.username}" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:value="${userRequest.password}" required><br>
    <button type="submit">Register</button>
</form>
<p th:text="${error}"></p>
</body>
</html>